fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-jose
passlib
bcrypt
python-dotenv
requests
httpx
ably
apscheduler
redis
pyotp
qrcode
pillow
aioredis
fastapi-cors
pydantic-extra-types
python-multipart
email-validator
asyncpg
alembic
